{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/mvList.css' %}" />
{% endblock %} {% block contents %}
<div class="mvContainer">
  {% for video in videos %}
  <a class="mv" href="{% url 'mvDetail' video.id %}">
    <img src="https://img.youtube.com/vi/{{video.video_link}}/maxresdefault.jpg" />
    <div class="mvDetail">
      <span class="mvTitle">{{video.director.name}} 감독 - {{video.artist}} '{{video.title}}'</span>
      <div>
        <img src="{% static 'img/heart.png' %}" />
        <span>리뷰 {{video.reviews.all.count}}</span>
        <button>더보기</button>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
