{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/director_profile.css' %}" />
{% endblock %}

{% block contents %}

<div class="container">
    <div class="high-container">
        <!-- <div class="info">
            <img src="https://image.flaticon.com/icons/svg/3260/3260843.svg">
        </div> -->
        <div class="info">
            {{data.name}}
        </div>
        {% if production_name is not None %}
            <div class="info">
                {{production_name}}
            </div>
        {% endif %}

        <!-- 글자색 변경하기 -->
        <div class="info_announce">
            <span style="color: orange; font-weight: bold;">{{mv_count}}개</span>의 작품과
            <span style="color: orange; font-weight: bold;">150개</span>의 리뷰가 리뮤에 기록되었어요!
        </div>

        <!-- css 먹이기 -->
        <div class='sns_link'>
                    {% for sns_link in sns_links %}
                        <a href = {{sns_link}}>sns</a>
                    {% endfor %}
        </div>
    </div>

    <div class="low-container">
        <div class="filter">
          
            <div class="condition">
                인기순
            </div>
            <div class="condition">
                최신순
            </div>
        </div>

        <div class="mvResult">
            {% for mv in mv_list%}
            <div class="art">
                <img src="https://img.youtube.com/vi/{{mv.video_link}}/maxresdefault.jpg" />
            </div>
            {% endfor %}

            
            <div class="art">
                <img src="https://image.flaticon.com/icons/svg/889/889242.svg">

            </div>
            <div class="art">
                <img src="https://image.flaticon.com/icons/svg/889/889242.svg">
            </div>

        </div>
    </div>
</div>


{% endblock %}