{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
{% endblock %} {% block contents %}
<div class="container">
  <div class="container1">
    <div class="introtext">
      <div>내 최애의 뮤직비디오</div>
      <div>누가 만들었을까?</div>
    </div>
    <div class="search">
      <input type="text" placeholder="MV or 감독 or 아티스트를 검색하세요." />
      <button class="search_button">검색</button>
      <a href="{% url 'search_app:result' %}?search=foobar">검색테스트</a>
    </div>
  </div>

  <div class="container2">
    <div class="block1">
        <!-- 여기보여주기 -->
        <h4 style="color: red">{{ mv1 }}</h4>
        <h4 style="color: blue">{{ mv2 }}</h4>
        <span>대만 첫사랑 영화를 닮은 섬세한 감성, </span>
        <span style="color: #FE8369; font-weight: bold;">이래경 감독</span>
        <span>의 작품을 소개합니다.</span>
    </div>

    <div class="block0">
      <div class="block2">
        <div class="line1">
          <div class="content">
            <img width="240" src="https://i.ytimg.com/vi/3w5iMGSHvsE/maxresdefault.jpg" />
            <br />
            <span>에피톤프로젝트 - 첫사랑</span>
          </div>
          <div class="content">
            <img width="240" src="https://i.ytimg.com/vi/4HG_CJzyX6A/maxresdefault.jpg" />
            <br />
            <span>태연 - 사계</span>
          </div>
          <div class="content">
            <img width="240" src="https://i.ytimg.com/vi/BzYnNdJhZQw/maxresdefault.jpg" />
            <br />
            <span>아이유 - 밤편지</span>
          </div>
        </div>
        <div class="line2">
          <div class="content">
            <img width="240" src="https://i.ytimg.com/vi/BzJ36wIgw24/maxresdefault.jpg" />
            <br />
            <span>1415 - 흰 눈이 오면</span>
          </div>
          <div class="content">
            <img width="240" src="https://i.ytimg.com/vi/a6dwchTCoAI/maxresdefault.jpg" />
            <br />
            <span>자우림 - 있지</span>
          </div>
          <div class="content">
            <img width="240" src="https://i.ytimg.com/vi/d9IxdwEFk1c/maxresdefault.jpg" />
            <br />
            <span>아이유 - 팔레트</span>
          </div>
        </div>
      </div>

      <div class="block3">
        <div class="tag">이 감독님은 말이죠</div>
        <div class="tag">
          <div class="hashtag">#첫사랑</div>
          <div class="hashtag">#빛바랜_필름</div>
          <div class="hashtag">#아기자기</div>
          <div class="hashtag">#아련한_추억</div>
          <div class="hashtag">#섬세한_감성</div>
        </div>
        <div class="tag">
          <button class="profile">감독 프로필 보러가기 >>></button>
        </div>
      </div>
    </div>
  </div>

  <div class="container3">
    <div>오늘 이 뮤비 어때요</div>

    <div class="mvreview">
      <div class="textbox">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/O136JYv3weQ"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <div class="textbox">
        <div class="review1">
          <span>치즈 '좋아해'</span>
          <span>★★★★★</span>
        </div>
        <div class="review2">학창시절 첫사랑 기억이 막 조작된다 난 분명 남고인데…</div>
        <div class="review3">- 흑석동 멋쟁이사자</div>
        <button class="review4">다른 리뷰 보러가기</button>
      </div>
    </div>

    <div class="box">
        <div class="boxclass">
            <span>세상에 이게 다</span>
            <span style="color: #FE8369; font-weight: bold;">룸펜스</span>
            <span>감독이 만든 뮤비</span>
        </div>
        <div class="lumpense1">
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/ur0hCdne2-s/maxresdefault.jpg" />
                <br />
                <span>선미 - 가시나</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/gdZLi9oWNZg/maxresdefault.jpg" />
                <br />
                <span>방탄소년단(BTS) - Dynamite</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/xEeFrLSkMm8/maxresdefault.jpg" />
                <br />
                <span>방탄소년단(BTS) - 봄날</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/42Gtm4-Ax2U/maxresdefault.jpg" />
                <br />
                <span>아이유 - 스물셋</span>
            </div>
        </div>
        <div>
            <button class="button1">또 다른 MV 보러가기</button>
        </div>
    </div>

    <div class="box">
        <div class="boxclass">
            <span>이 뮤비, 모두</span>
            <span style="color: #FE8369; font-weight: bold;">리전드필름</span>
            <span>의 작품이었던 것 알고계셨나요?</span>
        </div>
        <div class="lumpense1">
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/ap14O5-G7UA/maxresdefault.jpg" />
                <br />
                <span>세븐틴 - 독</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/eDEFolvLn0A/maxresdefault.jpg" />
                <br />
                <span>아이즈원 - 피에스타</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/om3n2ni8luE/maxresdefault.jpg" />
                <br />
                <span>(여자)아이들 - Oh My God</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/YPFIh0dfYfw/maxresdefault.jpg" />
                <br />
                <span>청하 - Stay Tonight</span>
            </div>
        </div>
        <div>
            <button class="button1">또 다른 MV 보러가기</button>
        </div>
    </div>

    <div class="box">
        <div class="boxclass">
            <span>이 뮤비를 만든</span>
            <span style="color: #FE8369; font-weight: bold;">황수아</span>
            <span>감독의 작품이 궁금하다면?</span>
        </div>
        <div class="lumpense1">
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/K64mb5KUhhs/maxresdefault.jpg" />
                <br />
                <span>가인 - 피어나</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/WfYgbFBFe1E/maxresdefault.jpg" />
                <br />
                <span>수지, 백현 - Dream</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/js3PTlQFakk/maxresdefault.jpg" />
                <br />
                <span>아이유 - 분홍신</span>
            </div>
            <div class="mv">
                <img width="240" src="https://i.ytimg.com/vi/R3Fwdnij49o/maxresdefault.jpg" />
                <br />
                <span>아이유 - 시간의 바깥</span>
            </div>
        </div>
        <div>
            <button class="button1">또 다른 MV 보러가기</button>
        </div>
    </div>


</div>
{% endblock %}
