{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{% endblock %}

{% block contents %}
<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        width: 57vw;
        height: 300px;
        background-color: #FFCD7D;
        color: white;
        font-size: 40px;
        line-height: 50px;
        padding: 10px;
        border-radius: 1em;
        margin-bottom: 50px;
        -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    }

    .introtext {
        width: 50vw;
        text-align: center;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 1em;
        -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        margin-bottom: 50px;
        height: 450px;
        padding: 50px;
        width: 57vw;
    }

    .block2 {
        display: flex;
        flex-direction: column;
    }

    .line1 {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .line2 {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .block0 {
        display: flex;
    }


    .container3 {
        background-color: white;
        border-radius: 1em;
        -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        margin-bottom: 50px;
        padding: 50px;
        width: 57vw;
    }

    .block3 {
        background-color: #FE8369;
        color: white;
        padding: 30px;
        border-radius: 1em;
        -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    }

    input {
        width: 45vw;
        border: none;
        border-radius: 20px;
        height: 45px;
        padding-left: 50px;
        margin-top: 40px;
        -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    }

    input:focus {
        outline: none;
    }

    .search_button {
        border: none;
        padding: 12px;
        color: white;
        background-color: #FE8369;
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
        box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    }

    .profile {
        background: white;
        border: none;
        color: #FE8369;
        padding: 10px;
        font-weight: bold;
    }

    .profile:focus {
        outline: none;
    }

    .profile:hover {
        background: #FFCD7D;
        color: white;
    }

    /* 색상 임시로 정해둠 */

    .hashtag {
        margin-bottom: 15px;
    }

    .tag {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .textbox {
        background: #FFCD7D;
        height: 315px;
        margin: 30px;
    }

    .review4 {
        background: #0E1921;
        color: white;
        border: none;
        padding: 10px;
        position: absolute;
        float: right;
        margin-left: 250px;

    }

    .mvreview {
        display: flex;
    }

    .review1 {
        font-size: 29px;
        padding: 20px;
        margin: 20px;
    }

    .review2 {
        padding: 20px;
        margin: 20px;
    }

    .review3 {
        padding: 20px;
        margin: 20px;
    }
</style>

<div class="container">

    <div class="container1">
        <div class="introtext">
            <div>내 최애의 뮤직비디오</div>
            <div>누가 만들었을까?</div>
        </div>
        <div class="search">
            <input type="text" placeholder="MV or 감독 or 아티스트를 검색하세요." />
            <button class="search_button">검색</button>
        </div>
    </div>


    <div class="container2">
        <div class="block1">
            <span>대만 첫사랑 영화를 닮은 섬세한 감성, </span>
            <span style="color: #FE8369; font-weight: bold;">이래경 감독</span>
            <span>의 작품을 소개합니다.</span>
        </div>

        <div class="block0">
            <div class="block2">
                <div class="line1">
                    <div class="content">
                        <img width="240" src="https://i.ytimg.com/vi/3w5iMGSHvsE/maxresdefault.jpg" />
                        <br />
                        <span>에피톤프로젝트 - 첫사랑</span>
                    </div>
                    <div class="content">
                        <img width="240" src="https://i.ytimg.com/vi/4HG_CJzyX6A/maxresdefault.jpg" />
                        <br />
                        <span>태연 - 사계</span>
                    </div>
                    <div class="content">
                        <img width="240" src="https://i.ytimg.com/vi/BzYnNdJhZQw/maxresdefault.jpg" />
                        <br />
                        <span>아이유 - 밤편지</span>
                    </div>
                </div>
                <div class="line2">
                    <div class="content">
                        <img width="240" src="https://i.ytimg.com/vi/BzJ36wIgw24/maxresdefault.jpg" />
                        <br />
                        <span>1415 - 흰 눈이 오면</span>
                    </div>
                    <div class="content">
                        <img width="240" src="https://i.ytimg.com/vi/a6dwchTCoAI/maxresdefault.jpg" />
                        <br />
                        <span>자우림 - 있지</span>
                    </div>
                    <div class="content">
                        <img width="240" src="https://i.ytimg.com/vi/d9IxdwEFk1c/maxresdefault.jpg" />
                        <br />
                        <span>아이유 - 팔레트</span>
                    </div>
                </div>
            </div>

            <div class="block3">
                <div class="tag">이 감독님은 말이죠</div>
                <div class="tag">
                    <div class="hashtag">#첫사랑</div>
                    <div class="hashtag">#빛바랜_필름</div>
                    <div class="hashtag">#아기자기</div>
                    <div class="hashtag">#아련한_추억</div>
                    <div class="hashtag">#섬세한_감성</div>
                </div>
                <div class="tag">
                    <button class="profile">감독 프로필 보러가기 >>></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container3">
        <div>오늘 이 뮤비 어때요</div>

        <div class="mvreview">
            <div class="textbox">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O136JYv3weQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>

            <div class="textbox">
                <div class="review1">
                    <span>치즈 '좋아해'</span>
                    <span>★★★★★</span>
                </div>
                <div class="review2">
                    학창시절 첫사랑 기억이 막 조작된다 난 분명 남고인데…
                </div>
                <div class="review3">
                    - 흑석동 멋쟁이사자
                </div>
                <button class="review4">다른 리뷰 보러가기</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}