html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #f9f6f4;
}

#topHeader {
  height: 50px;
  background-color: #ffb792;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 50px;
}

#container {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  min-height: 100vh;
}

footer {
  height: 783px;
  background-color: #ffeac9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  height: 65px;
  width: auto;
  margin-bottom: 80px;
  margin-top: auto;
}

footer .footerContainer {
  display: flex;
  justify-content: center;
  width: 70%;
}

footer .footerContainer .footerContents {
  flex: 1;
  margin: 0 50px;
  margin-top: 210px;
}

footer .footerContainer .footerContents div {
  color: #f3793a;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 50px;
  margin-bottom: 40px;
  border-bottom: 2px solid #f3793a;
}

footer .footerContents button {
  border: 3px solid #f3793a;
  color: #f3793a;
  background-color: transparent;
  margin-top: 25px;
  padding: 15px 25px;
  font-size: 18px;
  outline: none;
}

footer .footerContents .footerTextList li {
  margin-bottom: 17px;
  font-weight: 100;
  letter-spacing: 0.5px;
}

header {
  display: flex;
  align-items: center;
  padding-bottom: 90px;
}

header img {
  height: 63px;
}

header div {
  display: flex;
  margin-left: auto;
}

header div .searchBar {
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: white;
  border-radius: 18px;
  overflow: hidden;
  width: 300px;
}

header div .searchBar input {
  border: none;
  outline: none;
  padding: 5px 25px;
  padding-right: 10px;
  height: 35px;
  flex: 1;
}

header div .searchBar button {
  border: none;
  background-color: transparent;
  height: 25px;
  margin-left: auto;
  margin-right: 10px;
}

header div .searchBar img {
  height: 25px;
  /* margin-left: auto;
  margin-right: 10px;
  height: 25px; */
}

header div ul {
  display: flex;
  align-items: center;
}

header div ul li {
  margin: 0 10px;
  font-size: 13px;
}

.orange {
  color: #ffb792;
}
