.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 57vw;
    height: 300px;
    background-color: #FFCD7D;
    color: white;
    font-size: 40px;
    line-height: 50px;
    padding: 10px;
    border-radius: 0.5em;
    margin-bottom: 50px;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introtext {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

.search {
    margin: 0 auto;
}

.container2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    margin-bottom: 50px;
    height: 350px;
    padding: 50px;
    width: 51vw;
}

.block2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.line1 {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.line2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 15px;
}


.block0 {
    display: flex;
    margin: 0 auto;
}


.container3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    margin-bottom: 50px;
    height: 350px;
    padding: 50px;
    width: 51vw;
}

.block3 {
    background-color: #FE8369;
    color: white;
    padding: 30px;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    padding: 20px;
}

input {
    width: 45vw;
    border: none;
    border-radius: 12px;
    height: 45px;
    padding-left: 50px;
    margin-top: 40px;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
}

input:focus {
    outline: none;
}

.search_button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #FE8369;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
}

.profile {
    background: white;
    border: none;
    color: #FE8369;
    padding: 10px;
    font-weight: bold;
}

.profile:focus {
    outline: none;
}

.profile:hover {
    background: #FFCD7D;
    color: white;
}

/* 색상 임시로 정해둠 */

.hashtag {
    margin-bottom: 15px;
}

.tag {
    margin-top: 20px;
    margin-bottom: 20px;
}

.textbox {
    background: #FFCD7D;
    height: 315px;
    margin: 30px;
    margin: 0 auto;
}

.review4 {
    background: #0E1921;
    color: white;
    border: none;
    padding: 10px;
    position: absolute;
    float: right;
    margin-left: 8vw;
    margin-bottom: 10px;
}

.review4:hover {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    position: absolute;
    float: right;
    margin-left: 8vw;
    margin-bottom: 10px;
}

.mvreview {
    display: flex;
}

.review1 {
    font-size: 29px;
    padding: 20px;
    margin: 20px;
}

.review2 {
    padding: 20px;
}

.review3 {
    padding: 20px;
    font-size: 12px;
    margin-left: 8vw;
}

.box {
    background-color: white;
    border-radius: 1em;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.26);
    margin-bottom: 50px;
    padding: 40px;
    padding-bottom: 20px;
}

.lumpense1 {
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    justify-content: center;

}

.mv {
    margin: 7px;
}

.button1 {
    border: none;
    color: white;
    background-color: #FE8369;
    border-radius: 8px;
    position: absolute;
    float: right;
    margin: 0 auto;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.button1:hover {
    border: none;
    color: white;
    background-color: #FFCD7D;
    border-radius: 8px;
    position: absolute;
    float: right;
    margin: 0 auto;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.boxclass {
    height: 30px;
    display: flex;
    justify-content: space-between;
    width: 48vw;
}