@charset "UTF-8";

.rating {
  display: none;
  font-size: 15px;
  font-weight: bold;
  color: #FE8369;
  white-space: nowrap;
}

.rating.middle {
  font-size: 20px;
}

.rating.big {
  font-size: 35px;
}

.rating .star {
  display: inline-block;
  position: relative;
  letter-spacing: 0.05em;
}

.rating .star::before {
  display: inline-block;
  color: #7A7A7A;
  /* content: '☆'; */
  content: '★';
  width: 1em;
  height: 1em;
}

.rating .star::after {
  display: inline-block;
  position: absolute;
  content: '★';
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.1s linear;
  overflow: hidden;
}

.rating:not([disabled]) .star:hover::after,
.rating .star.active::after {
  opacity: 1;
  width: 1em;
  height: 1em;
}

.rating .star.active.half::after {
  width: 0.5em;
}