{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block contents %}
<div class = "signInContainer">
    <div class = "logo">
        <a href = "{% url 'home' %}"><img src = "{% static 'img/logo.png' %}"></a>
    </div>
    <div class = "signInDetail">
        <form method = "POST" action = "">
            {% csrf_token %}
            <input type="text" placeholder="아이디" name=username maxlength="10" minlength="2" required>
            <input type="password" placeholder="비밀번호" name="password" required>
            <div class = "error">{{error}}</div>
            <button type="signIn">로그인</button>
        </form>
        <a href="{% url 'signup' %}"><button type="submit">회원가입</button></a>
    </div>
</div>

{% endblock %}