{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/my_page.css' %}" />
{% endblock %}

{% block contents %}
<div class = "myPageContainer">
    <div class = "profileContainer">
        <img src = "{% static 'img/댕댕이.jpeg' %}">
    </div>
    <p>
        <span>댕댕이</span>님, <span>12개</span>의 MV를 아카이빙하셨군요!
    </p>
</div>

    <div class = "myMvListContainer">
        <div class = "mvTicket">
                <img src = "{% static 'img/mv_pic.png' %}">
                <img src = "{% static 'img/mv_pic.png' %}">
                <img src = "{% static 'img/mv_pic.png' %}">
                <img src = "{% static 'img/mv_pic.png' %}">
                <img src = "{% static 'img/mv_pic.png' %}">
        </div>
        <div class = "bar">
        </div>
    </div>    

{% endblock %}