{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/my_page.css' %}" />
{% endblock %}

{% block contents %}
<div class = "myPageContainer">
    <div class = "profileContainer">
        <img src = {{user.image}}>
    </div>
    <p>
        <span>{{user.nickname}}</span>님, <span>{{review_cnt}}개</span>의 MV를 아카이빙하셨군요!
    </p>
</div>
<a href="{% url 'update' user.id %}"><button type="submit">프로필 수정하기</button></a>
<div class = "myMvListContainer">
    <div class = "mvTicket">
        {{ review }}
        {% for i in "x"|rjust:review_cnt %}
        <div class = "ticketContainer">
            <img src = "{% static 'img/ticket/티켓.png' %}">
        </div>
        {% endfor %}
    </div>

    <div class = "bar">
    </div>
    <div class = "bar">
    </div>
    <div class = "bar">
    </div>
    <div class = "bar">
    </div>
    <div class = "bar">
    </div>
</div>    

<div class="pagination">
    {% if reviews.has_previous %}
        <a href = "?page={{reviews.number|add:-1}}"><i class = "fas fa-arrow-left"></i>이전 페이지</a>
    {% endif %}
        

    <  {{ reviews.number }} / {{reviews.paginator.num_pages}}  >

    {% if reviews.has_next %}
        <a href="?page={{reviews.number|add:+1}}">다음 페이지 <i class = "fas fa-arrow-right"></i></a>
    {% endif %}
</div>

{% endblock %}