{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/my_page.css' %}" />
{% endblock %}

{% block contents %}
<div class = "myPageContainer">
    <div class = "profileContainer">
        <img src = {{user.image}}>
    </div>
    <p>
        <span>{{user.nickname}}</span>님, <span>12개</span>의 MV를 아카이빙하셨군요!
    </p>
</div>

    <div class = "myMvListContainer">
        <div class = "mvTicket">
                <img src = "{% static 'img/mv_pic.png' %}">
                <img src = "{% static 'img/mv_pic.png' %}">
                <img src = "{% static 'img/mv_pic.png' %}">
                <img src = "{% static 'img/mv_pic.png' %}">
                <img src = "{% static 'img/mv_pic.png' %}">
        </div>
        <div class = "bar">
        </div>
    </div>    

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}