{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile_update.css' %}" />
{% endblock %}

{% block contents %}

<div class = "profileUpdateContainer">
    <div class = "title">프로필 수정하기</div><br><br>
    <form action="{% url 'update' profile.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "imageContainer">
        {% if profile.image %}
            <img src = {{profile.image.url}}>
        {% endif %}
        </div>
        
        <div class = "profileImageContainer">
            프로필 사진<input type="file" id="imageFile" name="image">
        </div>
        
        <div class = "nicknameContainer">
            닉네임<input type="text" name="nickname" value="{{ profile.nickname }}" maxlength="10" minlength="2" required>
        </div>
        <div class = "error">{{error_0}}</div>
        <div class = "error">{{error_3}}</div>
        
        <div class = "passwordContainer">
            비밀번호 변경<input type="password" name="password" required>
            <br>
            비밀번호 확인<input type="password" name="re_password" required>
        </div>
        <div class = "error">{{error_2}}</div>

        <a href="{% url 'my_page' profile.id %}"><button type="submit">수정하기</button></a>
    </form>
</div>

{% endblock %}