{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}

{% block contents %}
<div class = "signUpContainer">
    <div class = "logo">
        <img src = "{% static 'img/logo.png' %}">
    </div>


    <div class = "signUpDetail">
        <form method = "POST" action = "">
            {% csrf_token %}
            <input type="text" placeholder="  아이디" name="username" required>
            <input type="password" placeholder="  비밀번호" name="password" required>
            <input type="password" placeholder="  비밀번호 재입력" name="re_password" required>
            <input type="text" placeholder="  닉네임" name="nickname" required>
            <input type="email" placeholder="  이메일" name="email" required>
            <button type="submit">회원가입</button>
        </form>
    </div>
</div>

{% endblock %}
