.director_container {
    display: flex;
    flex-direction: column;
}

.high_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

/* .info:nth-child(1) img{
    width: 60px;
    padding: 5px;
} */

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.director_name{
    font-size: x-large;
    font-weight: bolder;
    padding: 10px;
}

.production_name {
    font-size: large;
    font-weight: bolder;
    padding: 10px;
}

.info_announce {
    display: flex;
    justify-content: center;
    font-size: small;
    padding: 20px;
}

.sns_link {
    display: flex;
    justify-content: flex-end;
}

.low_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filter {
    display: flex;
    justify-content: flex-end;
    padding: 30px ;
}


.condition_click a{
    color:  #fe8369;
    text-decoration: underline;
}

.condition a{
    color: black;
    text-decoration: none;
}
.condition a:hover{
    color: #fe8369;
}


.mv_result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

/* .mv_result{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 7.5%;
} */

.mv {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 26px 1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 10px 10px 26px 1px rgba(0, 0, 0, 0.17);
    box-shadow: 10px 10px 26px 1px rgba(0, 0, 0, 0.17);
    color: black;
    text-decoration: none;
    margin: 20px;
    height: 250px;
}

.mv img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.mv .mv_detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 15px;
}

.mv .mv_detail .mv_director_info {
    font-size: 12px;
    font-weight: bold;
}

.mv .mv_detail .mv_sub_info {
    font-size: 11px;
    margin-top: 5px;
}

.mv .mv_detail div {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.mv .mv_detail div img {
    width: 10px;
    height: 10px;
    margin-left: 3px;
    margin-right: 7.5px;
}

.mv .mv_detail div span {
    font-size: 10px;
    color: gray;
}

.mv .mv_detail div a {
    margin-left: auto;
}

.mv .mv_detail div button {
    border: none;
    outline: none;
    background-color: #fe8369;
    color: white;
    font-size: 13px;
    padding: 7.5px 17.5px;
    cursor: pointer;
}

.pagenator{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.move_previous a:nth-child(1) {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.move_previous a:nth-child(1):hover{
    color: #fe8369;
}

.move_previous a:nth-child(2) {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}
.move_previous a:nth-child(2):hover{
    color: #fe8369;
}


.move_next a:nth-child(2) {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.move_next a:nth-child(2):hover{
    color: #fe8369;
}

.move_next a:nth-child(1) {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.move_next a:nth-child(1):hover{
    color: #fe8369;
}
