.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.filter {
    display: flex;
    justify-content: flex-end;
    padding: 30px 100px;
    align-items: center;
}

.condition:nth-child(2){
    padding-right: 20px;
}

.director-searchBar {
    display: flex;
    align-items: center;
    margin-right: 30px;
    border: black solid;
    border-radius: 40px;
    overflow: hidden;
    width: 220px;
}

.director-searchBar input {
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 20px;
    height: 25px;
    flex: 1;
}
.director-searchBar img {
    margin-left: auto;
    margin-right: 10px;
    height: 25px;
}

.directorResult{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.director img{
    width: 100px;
    padding: 20px;
}