.container{
    display: flex;
    flex-direction: column;
}

.high-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

.info:nth-child(1) img{
    width: 60px;
    padding: 5px;
}

.info:nth-child(2){
    font-size: x-large;
    font-weight: bolder;
    padding: 10px;
}

.info:nth-child(3){
    font-size: large;
    font-weight: bolder;
    padding: 10px;
}

.info:nth-child(4){
    font-size: small;
    padding: 20px;
}

.low-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.filter{
    display: flex;
    justify-content: flex-end;
    padding: 30px 100px;
}

.condition:nth-child(1){
    padding-right: 20px;
}



.mvResult{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.mvResult img{
    width: 150px;
    padding: 20px
}